@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
}

::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #cdcdcd;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #cecece;
} */
